body {
    font-family: Lato, sans-serif;
    margin: 0;
    color: #333;
    font-size: 0;
    background-color: #fcfcfc;
  }

  div {
    box-sizing: border-box;
  }

  .left {
    width: 65%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .right {
    width: 35%;
    height: 100%;
    display: inline-block;
    background-color: #6b15b6;
    vertical-align: top;
    padding: 140px 50px;
  }

  .top {
    font-size: 1.5rem;
    padding: 30px 60px;
  }

  .container {
    padding: 20px 80px 20px 120px;
  }

  .header {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 2.6rem;
    margin: 20px auto 0px;
  }

  .header p {
    font-size: 1.1rem;
    margin-top: 10px;
  }

  .label {
    display: inline-block;
    margin-right: 7%;
    margin-bottom: 20px;
    vertical-align: top;
  }

  .label h5 {
    font-size: 0.8rem;
    margin: 10px auto;
    display: inline-block;
    margin-right: 4px;
  }

  .label input {
    font-family: Lato, sans-serif;
    padding: 11px 17px;
    border-radius: 4px;
    border: 0.5px solid #ddd;
    font-size: 1rem;
    width: 100%;
    background-color: #eaeef6;
  }

  .label input:valid {
    border-color: #a69ac4 !important;
  }

  .label input:focus {
    outline: none;
  }

  .label span {
    font-size: 0.7rem;
    color: #aaa;
    margin-top: 7px;
    display: inline-block;
  }

  .label .password {
    position: relative;
  }

  .label .password input {
    padding-right: 40px;
  }

  .label .password i {
    font-size: 0.8rem;
    color: #ccc;
    position: absolute;
    padding: 15px 17px;
    right: 0;
    cursor: hand;
    cursor: pointer;
  }

  .button {
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #6b15b6;
    color: #fff;
    display: inline-block;
    margin-top: 40px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }

  .button:hover {
    opacity: 0.8;
    cursor: hand;
    cursor: pointer;
  }

  .right h3 {
    font-size: 2.7rem;
    color: #efefef;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  .right h4 {
    font-size: 1.5rem;
    color: #efefef;
    letter-spacing: 2px;
    margin-top: 0px;
    display: none;
  }

  .right p {
    font-size: 1.1rem;
    color:#ddd;
    line-height: 35px;
  }

  .right .newEmail {
    margin-top: 100px;
    font-size: 0.8rem;
    color: #eee;
  }

  .right .newEmail a {
    color: #eee;
  }

  .secondFlow {
    display: none;
  }

  .thirdFlow {
    display: none;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    left: 33%;
    color: #1cdf8e;
  }

  .extension {
    font-family: Lato, sans-serif;
    padding: 11px 17px;
    border-radius: 4px;
    border: 0.5px solid #ddd;
    font-size: 1rem;
    background-color: #ddd;
    display: inline-block;
    border-radius: 0px 4px 4px 0px;
  }

  .label select {
    font-family: Lato, sans-serif;
    padding: 11px 17px;
    border-radius: 4px;
    border: 0.5px solid #ddd;
    font-size: 1rem;
    width: 100%;
    background-color: #eaeef6;
  }

  .label select:valid {
    border-color: #a69ac4;
  }

  .label select:focus {
    outline: none;
  }

  @media only screen and (max-width: 1030px) {

    .left, .right {
      width: 100%;
      padding: 40px 8%;
      height: auto;
    }

    .container {
      padding: 0;
    }

    .top {
      text-align: center;
      padding: 10px 60px;
    }

    .label {
      width: 100% !important;
      display: block;
    }

    .label input, .label select {
      width: 100%;
    }

    .thirdFlow {
      left: 40%;
    }

    .right h3 {
      font-size: 1.5rem !important;
    }

    .right h4 {
      font-size: 1.2rem !important;
    }

    .right .newEmail {
      margin-top: 30px !important;
    }

    .button {
      width: 100%;
      text-align: center;
    }

  }

  @media only screen and (max-width: 1330px) {

    .left h1 {
      font-size: 2.3rem;
    }
    .right h3 {
      font-size: 2.2rem;
    }

    .right p {
      font-size: 0.9rem;
    }

  }

@media only screen and (min-width: 1500px) and (max-width: 1699px){
      .left {
        width: 55%;
        margin-right: 0;
        padding-left: 8%;
      }

      .right {
        width: 45%;
        padding: 220px 50px;
        padding-right: 17%;
        padding-top: 220px !important;
      }

      .container {
          padding: 100px 80px 20px 120px;
      }
  }


@media only screen and (min-width: 1700px) {
    .left {
      width: 55%;
      margin-right: 0;
      padding-left: 10%;
    }

    .right {
      width: 45%;
      padding: 220px 50px;
      padding-right: 17%;
      padding-top: 220px !important;
    }

    .container {
        padding: 100px 80px 20px 120px;
    }
}
