<div class="footer">
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/404/"><li>Our Purpose & 15%</li></a>
    <a href="/courseroot/platforms/"><li>Platforms</li></a>
    <a href="/subjects/"><li>Subjects</li></a>
  </ul>
  <ul>
    <a href="/partner/"><li>Partner with us</li></a>
    <a href="/linkedin-review/"><li>LinkedIn Review</li></a>
    <a href="/404/"><li>Privacy</li></a>
    <a href="https://medium.com/courseroot"><li>Blog</li></a>
  </ul>
  <div class="socialFooter">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
    <a href="#"><i class="fab fa-medium"></i></a>
  </div>
</div>