<div class="nav">
    <a href="/"><div class="logo">
      purpose
    </div></a>
    <div class="buttons">
      <ul>
        <a href="/404/"><li><b>Our Purpose</b></li></a>
        <a href="/404/"><li>Partners</li></a>
        <a href="/404/"><li>Blog</li></a>
        <a href="/career-guidance/"><li>Career Guidance</li></a>
        <li>|</li>
        <a href="/jobs/?time=Internship"><li>Find an internship</li></a>
        <a href="/jobs/"><li id="findajob">Find a job</li></a>
      </ul>
    </div>
    <form method="get" action="/jobs/">
            <i class="fas fa-search"></i><input type="text" name="career">
            <input type="submit" value="Go" style="display: none">
    </form>
</div>