<div class="nav">
    <a href="/courseroot/"><div class="logo">courseroot</div></a>
    <div class="buttons">
      <ul>
        <a href="/courseroot/subjects/"><li><b>Subjects</b></li></a>
        <a href="/404/"><li style="
    border-bottom: 3px solid #3859ff;
    padding: 5px 0;
">15%</li></a>
        <a href="/courseroot/platforms/"><li>Platforms</li></a>
        <a href="/404/"><li>Partner with us</li></a>
        <a target="_blank" href="https://medium.com/courseroot"><li>Blog</li></a>
        <li>|</li>
        
        <a href="/courseroot/courses/"><li id="findajob" style="
    background-color: #3859ff;
">Find a course</li></a>
      </ul>
    </div>
    <form method="get" action="/courseroot/courses/" style="
    width: 21%;
">
            <i class="fas fa-search"></i><input type="text" name="subject">
            <input type="submit" value="Go" style="display: none">
    </form>
</div>