<div class="searchElement"><form method="get" action="/courseroot/courses/">
    <div class="form" style="
    width: 57%;
"><input type="text" name="subject" value="All course subjects" onclick="this.select();" style="
    width: 55%;
"><span>for</span><select name="level" style="
    font-size: 0.9rem;
    padding: 10px 15px;
    font-size: 1.1rem;
    padding: 10px 30px;
    vertical-align: bottom;
    border: none;
    border-bottom: 1px solid #ddd;
    letter-spacing: 1px;
    width: 35%;
    transition: 0.5s;
    display: inline-block;
">
    <option value="all levels">Everybody</option>
  <option value="beginner">Beginners</option>
  <option value="intermediate">Intermediates</option>
  <option value="expert">Experts</option>
</select>
    <input style="display: none;" name="price">
    <input style="display: none;" name="certificate">
    <input style="display: none;" name="platform">
    <input type="submit" style="display: none;">
    </div>
    <div class="filters">
      <ul>
        <div class="overfilter priceFilter"><li><i class="fas fa-angle-down"></i><span>Price</span></li>

            <div class="filterBox" style="display: none;">
                <ul>
                    <li class="clear"><b>Clear</b></li>
                    <li>Free</li>
                    <li>&lt; 10$</li>
                    <li>&lt; 20$</li>
                    <li>&lt; 50$</li>
                    
                    <li>&lt; 100$</li><li>+ 100$</li>
                </ul>
            </div>
        </div>
        <div class="overfilter certificateFilter"><li><i class="fas fa-angle-down"></i><span>Certificate</span></li>

            <div class="filterBox" style="display: none;">
                <ul>
                    <li class="clear"><b>Clear</b></li>
                    <li>Okay</li>
                    <li>Good</li>
                    <li>Excellent</li>
                </ul>
            </div>
        </div>
        <div class="overfilter platformFilter"><li style="
"><i class="fas fa-angle-down"></i>Platform</li>

            <div class="filterBox" style="text-align: left; left: -150px; width: 250%; display: none;">
                <ul style="
    display: inline-block;
">
                    <li class="clear"><b>Clear</b></li>
                    <li>Coursera</li>
                    <li>edX</li>
                    <li>Futurelearn</li>
                    <li>Pluralsight</li>
                </ul>
          <ul style="
    display: inline-block;
">
                    <li>Skillshare</li>
                    <li>Springboard</li>
                    <li>Udacity</li>
                    <li>Udemy</li>
                </ul>
            </div>
        </div>
        <a href="#"><li>|</li></a>
        <a href="#"><li class="searchFilter" style="
    background-color: #3859ff;
">Search</li></a>
      </ul>
    </div>

    <!-- <div class="advancedFilters">
        <div class="open" onclick="toggleAdvancedFilters()" style="
                         "><p style="
    width: 10px;
    display: inline-block;
    margin: 0;
">+</p> Advanced filters
        </div>
        <div class="filters"><input onclick="this.select();" type="text" name="focus" placeholder="What fields does the company tackle?" style="
    margin-right: 3%;
">
    
    <div class="salary">$<input onclick="this.select();" type="number" id="salary0" placeholder="0" min="0" step="10000" style="
    margin-right: 3%;
    width: 40%;
">-<input onclick="this.select();" type="number" id="salary1" placeholder="200000" min="0" step="10000" style="
    width: 40%;
    margin-left: 3%;
    "></div>
      <ul style="
    display: inline-block;
    width: 40%;
">
        
        <div class="overfilter sizeFilter"><li><i class="fas fa-angle-down"></i><span style="">Employees</span></li>

            <div class="filterBox" style="display: none;">
                <ul>
                    <li class="clear"><b>Clear</b></li>
                    <li>1 - 5</li>
                    <li>6 - 10</li>
                    <li>11 - 25</li>
                    <li>26 - 100</li>
                    <li>101 - 250</li>
                    <li>+250</li>
                </ul>
            </div>
        </div>
 
      </ul>
    </div> -->
    </div></form>