<DOCTYPE! html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

  <title>Select the plan you like to continue with - Academy of Mine</title>
  <meta name="description" content="Choose which plan fits your business requirements the best.">

  <link href="/css/styleConvert.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

  <!-- Provide jQuery framework -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

<div class="container">
  <div class="heading">
    <h3 style="
    font-weight: 400;
    font-size: 1rem;
    background-color: #db7b8c;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    display: none;
"><i class="fas fa-info-circle" style="
    margin-right: 10px;
    font-size: 0.9rem;
"></i>Your trial has expired... but we saved all the work you have done!</h3>
    <h1>Oops. Your 30-day trial has expired.</h1>
    <p>Pick up where you left off and choose which package fits best with the needs of your business.</p>
  </div>
  <div class="plans">
    <div class="monthlyAnnualToggle">
      <div id="monthly">
        Monthly
        </div>
<div id="annually">Annually</div>
      </div>
      <div class="plan">
        <div class="planType">
          Starter
          </div>
        <div class="price">
          $199<span>per month</span>
          </div>
        <div class="button">
          Continue
          </div>
        <hr>
        <ul>
          <li><i class="fas fa-check"></i>Unlimited number of users</li>
          <li><i class="fas fa-check"></i>Unlimited number of courses</li>
          <li><i class="fas fa-check"></i>All module types*</li>
          <li><i class="fas fa-check"></i>Basic eCommerce</li>
          <li><i class="fas fa-check"></i>Basic Reports</li>
          <li><i class="fas fa-check"></i>Webpage Builder</li>
          <li><i class="fas fa-check"></i>Integration with WordPress</li>
        </ul>
      </div>
      <div class="plan" style="margin-top: -25px; width: 33%; border-top: 5px solid #6b15b6;">
        <div class="planType">
          Essentials
          </div>
        <div class="price">
          $399<span>per month</span>
          </div>
        <div class="button">
          Continue
          </div>
        <hr>
        <ul>
          <li><i class="fas fa-plus"></i>Everything in Starter Plan</li>
          <li><i class="fas fa-check"></i>Live Webinars</li>
          <li><i class="fas fa-check"></i>SCORM</li>
          <li><i class="fas fa-check"></i>Memberships & Subscriptions</li>
          <li><i class="fas fa-check"></i>Learning Path</li>
          <li><i class="fas fa-check"></i>Custom User Fields</li>
        </ul>
      </div>
      <div class="plan">
        <div class="planType">
          Professional
          </div>
        <div class="price">
          $899<span>per month</span>
          </div>
        <div class="button">
          Continue
          </div>
        <hr>
        <ul>
          <li><i class="fas fa-plus"></i>Everything in Essentials Plan</li>
          <li style="
    position: relative;
           "><i class="fas fa-check"></i>Group Onboarding<span style="
    background-color: #cf6b90;
    padding: 2px 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 0.5rem;
    letter-spacing: 0.3px;
    font-weight: 500;
    position: absolute;
    top: 6px;
    margin-left: 5px;
">POPULAR</span></li>
          <li><i class="fas fa-check"></i>Advanced Reports</li>
          <li><i class="fas fa-check"></i>SSO (Single Sign-On)</li>
          <li><i class="fas fa-check"></i>Custom Payment Gateways</li>
        </ul>
      </div>
      <div class="customBanner" style="
    display: block;
    margin-top: 5px !important;
    border-radius: 3px;
    color: #777;
    font-size: 0.8rem;
    border: 0.5px solid #ddd;
    width: 93.5%;
    margin: auto;
    padding: 20px 50px;
    box-sizing: border-box;
    border-left: 5px solid #6b15b6;
    border-right: 5px solid #6b15b6;
    text-align: left;
    background-color: #fff;
"><div class="info" style="
    width: 83%;
    display: inline-block;
"><div class="planType" style="
    font-size: 1.4rem;
    color: #6b15b6;
    margin-bottom: 15px;
">Custom Plan</div><i class="fas fa-info-circle" style="
    font-size: 0.6rem;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 7px;
    "></i>Looking for a fully custom LMS solution or custom features on top of our platform? <a href="#">Let's talk</a>.</div>
    <div class="button" style="
    padding: 14px 50px;
    color: #fff;
    background-color: #6b15b6;
    border-radius: 3px;
    cursor: hand;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
">
          Let's talk
          </div>
    </div>
  </div>

  <div class="clients">
    <h2 style="
    color: #555;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 70px;
">Join many happy clients</h2><p>Use an LMS system trusted by businesses across the world</p>
<div class="et_pb_row et_pb_row_6" style="
    filter: grayscale(100%);
    margin-top: 30px;
">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough" style="
    width: 49%;
    display: inline-block;
">


				<div class="et_pb_module et_pb_image et_pb_image_0">


				<span class="et_pb_image_wrap "><img src="https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-1.png" alt="" title="" srcset="https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-1.png 563w, https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-1-480x163.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 563px, 100vw"></span>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child" style="
    width: 49%;
    display: inline-block;
">


				<div class="et_pb_module et_pb_image et_pb_image_1">


				<span class="et_pb_image_wrap "><img src="https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-2.png" alt="" title="" srcset="https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-2.png 530w, https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-2-480x162.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 530px, 100vw"></span>
			</div>
			</div> <!-- .et_pb_column -->


			</div>
      <div class="capterraReviews" style="
    font-size: 1.5rem;
    vertical-align: middle;
    margin-top: 50px;
">
    <i class="fas fa-star" style="
    color: #f8e885;
    margin-right: 2px;
"></i><i class="fas fa-star" style="
    color: #f8e885;
    margin-right: 2px;
"></i><i class="fas fa-star" style="
    color: #f8e885;
    margin-right: 2px;
"></i><i class="fas fa-star" style="
    color: #f8e885;
    margin-right: 2px;
"></i><i class="fas fa-star" style="
    color: #f8e885;
    margin-right: 10px;
"></i>on<img alt="Capterra Logo" width="174px" height="40px" class="site-logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdC b3g9IjAgMCAxNTAwIDM0NC45ODMiPjxwYXRoIGZpbGw9IiNGRjlEMjgiIGQ9 Ik04LjkwNSAxMjcuMzhsMTM1LjE4MS4wMjcgODIuMTk5LjAxNFY0NS45ODd6 Ii8+PHBhdGggZmlsbD0iIzY4QzVFRCIgZD0iTTIyNi4yODUgNDUuOTg3VjMz My40OUwzMjguOTUgNy41MzR6Ii8+PHBhdGggZmlsbD0iIzA0NEQ4MCIgZD0i TTIyNi4yODUgMTI3LjQyMWwtODIuMTk5LS4wMTQgODIuMTk5IDIwNi4wODN6 Ii8+PHBhdGggZmlsbD0iI0U1NDc0NyIgZD0iTTguOTA1IDEyNy4zOGwxNTYu MjYgNTIuOTA1LTIxLjA3OS01Mi44Nzh6Ii8+PGcgZmlsbD0iIzA0NEQ4MCI+ PHBhdGggZD0iTTUwNi44ODQgMjU3LjgwOWMtMS4xOTIgMS4xOTItMy4xNzgg Mi42NzktNS45NTUgNC40NjUtMi43ODIgMS43ODgtNi40MDIgMy41NzQtMTAu ODY4IDUuMzYyLTQuNDY2IDEuNzg0LTkuOTI4IDMuMzItMTYuMzc2IDQuNjE1 LTYuNDU0IDEuMjg3LTEzLjg0NSAxLjkzNC0yMi4xODIgMS45MzQtMTYuMDgg MC0yOS45NzYtMi41ODItNDEuNjg2LTcuNzQtMTEuNzE1LTUuMTU4LTIxLjM5 MS0xMi4zNTktMjkuMDMxLTIxLjU4Ny03LjY0My05LjIzMS0xMy4yNDktMjAu MTQ2LTE2LjgyMi0zMi43NTQtMy41NzMtMTIuNjA0LTUuMzU5LTI2LjQ0OC01 LjM1OS00MS41MzYgMC0xNS4wODIgMS45MzUtMjkuMDMgNS44MDYtNDEuODMz IDMuODctMTIuODA0IDkuNjc2LTIzLjg2NiAxNy40MTctMzMuMiA3Ljc0Mi05 LjMyNyAxNy40MTktMTYuNjIzIDI5LjAzMi0yMS44ODUgMTEuNjEyLTUuMjU2 IDI1LjI1Ny03Ljg5IDQwLjk0LTcuODkgNy43NDIgMCAxNC43MzkuNjk3IDIw Ljk5MiAyLjA4NCA2LjI1MyAxLjM5IDExLjcxIDMuMDI5IDE2LjM3NyA0Ljkx MyA0LjY2MSAxLjg4OSA4LjUzMyAzLjg3IDExLjYxMiA1Ljk1NSAzLjA3NSAy LjA4NCA1LjQwNyAzLjgyNSA2Ljk5OCA1LjIxIDEuNzg2IDEuNTkyIDMuMzIy IDMuNDc2IDQuNjE1IDUuNjU3IDEuMjg5IDIuMTg3IDEuOTM1IDQuNTY5IDEu OTM1IDcuMTQ3IDAgMy45NzMtMS40ODkgNy45NDEtNC40NjYgMTEuOTEtMi45 NzcgMy45NzMtNi4yNTMgNy42NDUtOS44MjcgMTEuMDE3LTIuMzgyLTIuMzgy LTUuMDYxLTQuODEtOC4wMzgtNy4yOTQtMi45NzgtMi40ODEtNi4zMDQtNC42 NjItOS45NzUtNi41NTEtMy42NzUtMS44ODQtNy44NDQtMy40NzEtMTIuNTA2 LTQuNzY0LTQuNjY2LTEuMjg5LTkuODc2LTEuOTM2LTE1LjYzMS0xLjkzNi0x MC4xMjQgMC0xOC42MDkgMi4wMzgtMjUuNDU4IDYuMTA0LTYuODQ4IDQuMDcx LTEyLjM1NyA5LjM3OS0xNi41MjUgMTUuOTMtNC4xNjggNi41NTEtNy4xNDYg MTQuMDQ1LTguOTMzIDIyLjQ4LTEuNzg2IDguNDM5LTIuNjc5IDE3LjAyMy0y LjY3OSAyNS43NTYgMCA5LjMzMi44OTMgMTguMjY0IDIuNjc5IDI2Ljc5NiAx Ljc4NiA4LjUzNiA0Ljg2MSAxNi4wODEgOS4yMzEgMjIuNjI5IDQuMzYzIDYu NTUgMTAuMDcyIDExLjgxMiAxNy4xMiAxNS43OCA3LjA0MyAzLjk3NCAxNS44 MjcgNS45NTYgMjYuMzUxIDUuOTU2IDUuNTU0IDAgMTAuNjY4LS42OTMgMTUu MzM0LTIuMDgzIDQuNjYxLTEuMzg4IDguNzgzLTMuMDc3IDEyLjM1Ni01LjA2 NSAzLjU3My0xLjk4IDYuNy00LjA2MyA5LjM3OS02LjI0OSAyLjY4LTIuMTg0 IDQuOTEzLTQuMDY3IDYuNy01LjY1OSAxLjE5MSAxLjM5MiAyLjU3NyAzLjA4 MSA0LjE2OCA1LjA2M2E3MS43MzA3IDcxLjczMDcgMCAwIDEgNC40NjYgNi4y NTNjMS4zODcgMi4xODYgMi41NzggNC4zNjggMy41NzMgNi41NDguOTkxIDIu MTg4IDEuNDg4IDQuMTcgMS40ODggNS45NTQgMCAyLjU4NC0uNDk3IDQuNzY2 LTEuNDg4IDYuNTUyLS45OTYgMS43ODctMi41ODMgMy43NzQtNC43NjQgNS45 NTZ6TTY2MC4zMjcgMjM0Ljk3M2MwIDE1Ljc3NyAyLjI5MyAyNy4yNiA2Ljg4 OSAzNC40NDktMy41OTQgMS4zOTUtNi45NCAyLjM5NS0xMC4wMzUgMi45OTQt My4wOTguNi02LjM0MS44OTgtOS43MzUuODk4LTcuMTg4IDAtMTIuNjMyLTEu Mzk4LTE2LjMyNC00LjE5My0zLjY5Ny0yLjc5My02LjA0My02Ljc4Ny03LjAz OS0xMS45ODItNC4zOTYgNC41OTgtMTAuMTg2IDguNDktMTcuMzc0IDExLjY4 Ni03LjE4OSAzLjE4OS0xNS45NzkgNC43OTEtMjYuMzYgNC43OTEtNS4zOTIg MC0xMC43ODMtLjc0OC0xNi4xNzUtMi4yMzYtNS4zOTMtMS41LTEwLjI4Ny0z LjkzNC0xNC42NzktNy4zMTQtNC4zOTUtMy4zODctNy45ODgtNy45MTYtMTAu NzgzLTEzLjU5LTIuNzk5LTUuNjc0LTQuMTk0LTEyLjU5LTQuMTk0LTIwLjc1 IDAtMTAuMTUyIDIuNDQ0LTE4LjQxNiA3LjMzOS0yNC43ODMgNC44OTItNi4z NzMgMTEuMDMyLTExLjM5OCAxOC40MjMtMTUuMDgyIDcuMzg2LTMuNjggMTUu Mzc1LTYuMjEzIDIzLjk2NC03LjYxIDguNTg0LTEuMzk1IDE2LjQ3NS0yLjI4 OCAyMy42NjMtMi42OTEgMi4zOTgtLjE5NyA0Ljc0Mi0uMyA3LjA0LS4zaDYu NDR2LTUuNDUyYzAtNy42NzYtMi4wNS0xMy4xMjktNi4xNDEtMTYuMzU4LTQu MDk2LTMuMjMtMTAuNzM3LTQuODQ5LTE5LjkyLTQuODQ5LTguNTg4IDAtMTYu MjI3IDEuMzk5LTIyLjkxNSA0LjE5My02LjY5MyAyLjc5OS0xMy4yMzIgNS45 OTEtMTkuNjIgOS41ODYtMi43OTktMy4zOTQtNS4wNDctNy4xMzctNi43NC0x MS4yMzMtMS42OTgtNC4wOS0yLjU0Ni03LjEzNy0yLjU0Ni05LjEzNiAwLTIu Nzk0IDEuNTQ0LTUuNDkgNC42NDMtOC4wODggMy4wOTQtMi41OTIgNy4zMzkt NC45NDIgMTIuNzMxLTcuMDM5IDUuMzkzLTIuMDk3IDExLjU4LTMuNzkxIDE4 LjU3My01LjA5MiA2Ljk4Ny0xLjI5NyAxNC4zNzctMS45NDcgMjIuMTY2LTEu OTQ3IDEwLjc4MyAwIDE5LjkxOSAxLjEgMjcuNDA3IDMuMjk1IDcuNDg5IDIu MiAxMy41NzkgNS41OTMgMTguMjczIDEwLjE4NCA0LjY5IDQuNTk3IDguMDM2 IDEwLjMzNSAxMC4wMzQgMTcuMjI0IDEuOTk0IDYuODkgMi45OTYgMTQuOTMx IDIuOTk2IDI0LjExM3Y1Ni4zMTJ6bS0zOC4zNDMtMzQuNzQ2aC00LjE5MmMt MS40MDEgMC0yLjguMTA0LTQuMTk0LjMwMS00Ljk5NS40MDItOS45MzggMS0x NC44MjcgMS43OTUtNC44OTYuODAxLTkuMjQgMi4xOTktMTMuMDMgNC4xOTUt My43OTYgMS45OTgtNi44OSA0LjU5Ni05LjI4NiA3Ljc4Ny0yLjM5NyAzLjE5 Ny0zLjU5NSA3LjI5My0zLjU5NSAxMi4yODMgMCA1LjU5MiAxLjU5NiAxMC4z MzIgNC43OTIgMTQuMjI3IDMuMTkyIDMuODk1IDguNTg0IDUuODQyIDE2LjE3 NiA1Ljg0MiAzLjc5MSAwIDcuMzg3LS40OTYgMTAuNzg0LTEuNSAzLjM5My0u OTk0IDYuMzg4LTIuMjkzIDguOTg2LTMuODkxIDIuNTkzLTEuNTk4IDQuNjQz LTMuMzQ0IDYuMTQxLTUuMjQ0IDEuNDk3LTEuODk1IDIuMjQ2LTMuNjQxIDIu MjQ2LTUuMjR2LTMwLjU1NXpNNzM0LjkwOSAxNDEuMjE3YzMuMTgzLTMuNzkx IDguMTYzLTcuNjM4IDE0LjkzLTExLjUzMyA2Ljc2OC0zLjg5NCAxNS4zMjgt NS44NDEgMjUuNjgxLTUuODQxIDcuMzY4IDAgMTQuMzg0IDEuMjQ5IDIxLjA1 NSAzLjc0NCA2LjY2NCAyLjQ5OSAxMi41ODkgNi41NDQgMTcuNzY1IDEyLjEz MiA1LjE3NyA1LjU5MyA5LjMwNyAxMi45ODMgMTIuMzk1IDIyLjE2NiAzLjA4 NSA5LjE4OCA0LjYyOSAyMC40NzMgNC42MjkgMzMuODQ4IDAgMTUuNTc2LTEu Nzk0IDI4LjQxLTUuMzc2IDM4LjQ5Mi0zLjU4NiAxMC4wODgtOC4yMTEgMTgu MDc2LTEzLjg4MiAyMy45NjUtNS42NzQgNS44OTEtMTEuOTk4IDEwLjAzNS0x OC45NjIgMTIuNDMtNi45NjkgMi4zOTYtMTMuOTM4IDMuNTk2LTIwLjkwMyAz LjU5Ni01Ljc3NCAwLTEwLjgwMy0uNjUtMTUuMDc5LTEuOTQ3LTQuMjgzLTEu MzAxLTcuOTE1LTIuNzQ0LTEwLjkwMS00LjM0NC0yLjk4Ni0xLjU5Ni01LjI3 NC0zLjE5MS02Ljg2NS00Ljc5My0xLjU5Mi0xLjU5Ni0yLjU4OS0yLjY5Ny0y Ljk4Ni0zLjI5N3Y3My42MzVoLTQwLjczOVYxMjguMDM2YzEuMDAyLS4xOTYg Mi4yMS0uMzk3IDMuNjIyLS41OTggMS4yMDktLjE5NiAyLjYxNy0uMzQ3IDQu MjI3LS40NSAxLjYwOS0uMDk4IDMuNTIxLS4xNDkgNS43MzMtLjE0OSA2LjYz NyAwIDEyLjI3MiAxLjEgMTYuOSAzLjI5NSA0LjYyNyAyLjIgNy41NDkgNS44 OTIgOC43NTYgMTEuMDgzem01My45MTkgNTUuNDE0YzAtNS45OS0uNDk3LTEx LjU3OC0xLjQ4OS0xNi43NzMtLjk5Mi01LjE5LTIuNjMtOS42ODQtNC45MTQt MTMuNDc5LTIuMjg0LTMuNzkyLTUuMzY1LTYuNzQtOS4yMzUtOC44MzgtMy44 NzYtMi4wOTYtOC41ODgtMy4xNDMtMTQuMTQ1LTMuMTQzLTguMzM5IDAtMTQu MTQ3IDEuNi0xNy40MjUgNC43OTEtMy4yNzUgMy4xOTctNC45MTMgNi42OTQt NC45MTMgMTAuNDg1djYzLjUwNGMxLjU4NiAxLjYgNC40MTIgMy40OTQgOC40 ODQgNS42OTEgNC4wNzMgMi4xOTkgOC43ODUgMy4yOTMgMTQuMTQ5IDMuMjkz IDEwLjEyOCAwIDE3LjU3NC0zLjk5IDIyLjM0LTExLjk4IDQuNzY2LTcuOTg2 IDcuMTQ4LTE5LjE3MiA3LjE0OC0zMy41NTF6TTg2Mi44MDYgMjQ4LjE1NWMt MS40LTMuOTkyLTIuMjk4LTguMTg4LTIuNjk2LTEyLjU4Mi0uNDAyLTQuMzkx LS41OTktOC43ODMtLjU5OS0xMy4xODJWODMuNDA0YzEuMzk1LS4xOTYgMi44 OTMtLjM5NyA0LjQ5My0uNTk5IDEuMzkzLS4xOTYgMi44OTItLjM0NSA0LjQ5 Mi0uNDQ5IDEuNTk3LS4wOTggMy4xOTMtLjE0OSA0Ljc5Mi0uMTQ5IDMuMTkz IDAgNi4zOTEuMyA5LjU4Ny44OTggMy4xOTEuNiA2LjA4OCAxLjc5OCA4LjY4 OCAzLjU5NCAyLjU5MyAxLjc5NyA0LjY4OSA0LjI0NiA2LjI4OSA3LjMzOSAx LjU5NyAzLjA5OCAyLjM5NiA3LjE0MyAyLjM5NiAxMi4xMzF2MjEuMjY3aDQx LjkzOHYzMC4yNTZoLTQxLjkzOHY2My44NzdjMCAxMy45MyA1LjY5MSAyMC44 OTMgMTcuMDc1IDIwLjg5MyAyLjc5NSAwIDUuNDM4LS40NDcgNy45MzgtMS4z NDggMi40OTUtLjg5OCA0Ljc0MS0xLjg5NSA2Ljc0LTIuOTk0IDEuOTk1LTEu MDk4IDMuNzQ0LTIuMjQ2IDUuMjQyLTMuNDQ1IDEuNDk4LTEuMTk5IDIuNTQ2 LTIuMDk2IDMuMTQ0LTIuNjk1IDIuOTk2IDQuMzk2IDUuMjg5IDguMjAxIDYu ODkgMTEuNDEyIDEuNTk2IDMuMjE1IDIuMzk2IDYuMjMyIDIuMzk2IDkuMDUx IDAgMi42MjMtMS4wNDYgNS4xOTUtMy4xNDUgNy43MTNzLTUuMDQ2IDQuODQt OC44MzggNi45NTVjLTMuNzk0IDIuMTE1LTguMzg1IDMuODI4LTEzLjc3OCA1 LjEzOS01LjM5MSAxLjMxMS0xMS4yODUgMS45NjctMTcuNjczIDEuOTY3LTEy LjM4NSAwLTIyLjAxOC0yLjM5OC0yOC45MDctNy4xODktNi44ODktNC43OTUt MTEuNzM0LTExLjA4Ni0xNC41MjYtMTguODczek0xMDQ1LjM2MiAyNDQuMjZj NS4wMDggMCA5LjQxNy0uNTQ3IDEzLjIyOC0xLjY0OCAzLjgwNS0xLjA5NCA3 LjIxMS0yLjQ0MyAxMC4yMTgtNC4wNDEgMy4wMDQtMS41OTYgNS42MTItMy4z NDQgNy44MTctNS4yNDIgMi4yMDMtMS44OTYgNC4yMDYtMy42NDMgNi4wMTQt NS4yNDQgMi40MDEgMi45OTQgNC45MDUgNi44NDIgNy41MTIgMTEuNTMxIDIu NjA0IDQuNjk3IDMuOTA4IDguNTM5IDMuOTA4IDExLjUzMyAwIDQuMzk1LTIu NDk5IDguMzg5LTcuNDg3IDExLjk4My00LjE5NCAzLjE5Ny0xMC4xNCA1Ljk0 My0xNy44MjMgOC4yMzYtNy42OTEgMi4yOTUtMTYuNzI5IDMuNDQ1LTI3LjEw OSAzLjQ0NS05LjM5MSAwLTE4LjYyNS0xLjE5Ny0yNy43MDgtMy41OTQtOS4w ODgtMi4zOTUtMTcuMTc4LTYuNTktMjQuMjYzLTEyLjU4Mi03LjA5Mi01Ljk4 OC0xMi44MzQtMTQuMDI1LTE3LjIyNi0yNC4xMTEtNC4zOTMtMTAuMDg0LTYu NTg5LTIyLjgxMi02LjU4OS0zOC4xOTMgMC0xMi41ODIgMS45NDgtMjMuNDEx IDUuODM5LTMyLjUgMy44OTYtOS4wODUgOS4wODYtMTYuNjI0IDE1LjU4MS0y Mi42MTUgNi40ODUtNS45OTEgMTMuODI0LTEwLjM4MSAyMi4wMTQtMTMuMTgx IDguMTg2LTIuNzkzIDE2LjU3NS00LjE5MyAyNS4xNjMtNC4xOTMgMTEuMTgy IDAgMjAuNjY3IDEuNzUxIDI4LjQ1NSA1LjI0MiA3Ljc5IDMuNDk2IDE0LjEy NiA4LjE5IDE5LjAyMiAxNC4wNzkgNC44OSA1Ljg5MSA4LjQzNCAxMi42MzEg MTAuNjMzIDIwLjIxOSAyLjE5NCA3LjU5MSAzLjI5NSAxNS41NzYgMy4yOTUg MjMuOTYzdjQuMTkzYzAgMS42MDItLjA1MSAzLjI5NS0uMTUgNS4wOTItLjEw MiAxLjc5OS0uMiAzLjU0OS0uMjk4IDUuMjQyLS4xMDQgMS43MDEtLjI1NCAz LjA0Ny0uNDQ4IDQuMDQ1aC04OC4zNjhjLjgwMSAxMC45ODQgNC4yMDcgMjAu MTE5IDEwLjIxOCAyNy40MSA2LjAwNyA3LjI5MSAxNS41MjYgMTAuOTMxIDI4 LjU1MiAxMC45MzF6bTEzLjY1LTYwLjgwOGMwLTkuNTg1LTEuODYtMTcuMzcz LTUuNTc1LTIzLjM2NC0zLjcxNi01Ljk5LTEwLjM5Ny04Ljk4Ny0yMC4wMzIt OC45ODctOC4yMzkgMC0xNC44MTUgMi44NDctMTkuNzM0IDguNTM4LTQuOTI0 IDUuNjkyLTcuMzc5IDEzLjYyOS03LjM3OSAyMy44MTJoNTIuNzJ6TTExNjYu NzUgMTQxLjk3NGMxLjE5Ni0xLjc4MiAyLjc5My0zLjc2MiA0Ljc5Mi01Ljk0 NCAxLjk5NC0yLjE4IDQuNDQyLTQuMTYxIDcuMzM5LTUuOTQzIDIuODkzLTEu NzgzIDYuMDg5LTMuMjcyIDkuNTg2LTQuNDYgMy40OS0xLjE4OSA3LjIzNi0x Ljc4MyAxMS4yMzQtMS43ODMgMi4zOTUgMCA0Ljk0Mi4yMDEgNy42MzcuNTk0 IDIuNjk2LjM5OCA1LjE5IDEuMTQyIDcuNDg3IDIuMjI4IDIuMjk1IDEuMDkx IDQuMTQ1IDIuNTc0IDUuNTQzIDQuNDU2IDEuMzk1IDEuODgyIDIuMDk3IDQu MjA4IDIuMDk3IDYuOTc5IDAgNC4zNTctMS4xMDEgOS4zNjEtMy4yOTUgMTUu MDEtMi4yIDUuNjU0LTQuMzkzIDEwLjQ3NS02LjU4OSAxNC40NjctMy4zOTkt Mi43OTUtNi43OTMtNC45NDItMTAuMTg2LTYuNDQtMy4zOTctMS40OTctNy4z OTEtMi4yNDctMTEuOTgyLTIuMjQ3LTYuMTkxIDAtMTEuMzgyIDEuODAzLTE1 LjU3NCA1LjQwNi00LjE5NyAzLjYwNC02LjI5MyA3LjkxLTYuMjkzIDEyLjkx N3Y5Ni45NjloLTQwLjczNlYxMjguMDM2Yy45OTYtLjE5NiAyLjE5NC0uMzk3 IDMuNTkzLS41OTggMS4xOTgtLjE5NiAyLjU5NS0uMzQ3IDQuMTk0LS40NSAx LjU5Ny0uMDk4IDMuNDkyLS4xNDkgNS42OTEtLjE0OSA2LjM4OSAwIDExLjkz IDEuMjM5IDE2LjYyNSAzLjcxMiA0LjY4OSAyLjQ3IDcuNjM5IDYuMjggOC44 MzcgMTEuNDIzek0xMjgyLjU3MyAxNDEuOTc0YzEuMTk4LTEuNzgyIDIuNzk0 LTMuNzYyIDQuNzkzLTUuOTQ0IDEuOTk0LTIuMTggNC40NDItNC4xNjEgNy4z MzktNS45NDMgMi44OTMtMS43ODMgNi4wODgtMy4yNzIgOS41ODUtNC40NiAz LjQ5Mi0xLjE4OSA3LjIzNi0xLjc4MyAxMS4yMzMtMS43ODMgMi4zOTUgMCA0 Ljk0MS4yMDEgNy42MzcuNTk0IDIuNjk1LjM5OCA1LjE5MSAxLjE0MiA3LjQ4 OSAyLjIyOCAyLjI5NSAxLjA5MSA0LjE0MSAyLjU3NCA1LjU0NCA0LjQ1NiAx LjM5NCAxLjg4MiAyLjA5NiA0LjIwOCAyLjA5NiA2Ljk3OSAwIDQuMzU3LTEu MTAyIDkuMzYxLTMuMjk1IDE1LjAxLTIuMjAyIDUuNjU0LTQuMzk2IDEwLjQ3 NS02LjU5MSAxNC40NjctMy4zOTYtMi43OTUtNi43OTMtNC45NDItMTAuMTg1 LTYuNDQtMy4zOTYtMS40OTctNy4zOS0yLjI0Ny0xMS45ODEtMi4yNDctNi4x OTEgMC0xMS4zODMgMS44MDMtMTUuNTc2IDUuNDA2LTQuMTk0IDMuNjA0LTYu MjkgNy45MS02LjI5IDEyLjkxN3Y5Ni45NjloLTQwLjczOFYxMjguMDM2Yy45 OTctLjE5NiAyLjE5NS0uMzk3IDMuNTk1LS41OTggMS4xOTgtLjE5NiAyLjU5 NS0uMzQ3IDQuMTkzLS40NSAxLjU5Ni0uMDk4IDMuNDkxLS4xNDkgNS42OS0u MTQ5IDYuMzkxIDAgMTEuOTMyIDEuMjM5IDE2LjYyNCAzLjcxMiA0LjY5IDIu NDcgNy42MzggNi4yOCA4LjgzOCAxMS40MjN6TTE0NzYuOTc5IDIzNC45NzNj MCAxNS43NzcgMi4yOTUgMjcuMjYgNi44OSAzNC40NDktMy41OTUgMS4zOTUt Ni45NDEgMi4zOTUtMTAuMDM0IDIuOTk0LTMuMDk4LjYtNi4zNDIuODk4LTku NzM1Ljg5OC03LjE5MSAwLTEyLjYzMy0xLjM5OC0xNi4zMjUtNC4xOTMtMy42 OTktMi43OTMtNi4wNDMtNi43ODctNy4wNDEtMTEuOTgyLTQuMzkzIDQuNTk4 LTEwLjE4NCA4LjQ5LTE3LjM3MyAxMS42ODYtNy4xODggMy4xODktMTUuOTc5 IDQuNzkxLTI2LjM1OSA0Ljc5MS01LjM5MyAwLTEwLjc4My0uNzQ4LTE2LjE3 Ny0yLjIzNi01LjM5MS0xLjUtMTAuMjg4LTMuOTM0LTE0LjY3Ny03LjMxNC00 LjM5NS0zLjM4Ny03Ljk4OS03LjkxNi0xMC43ODQtMTMuNTktMi43OTgtNS42 NzQtNC4xOTItMTIuNTktNC4xOTItMjAuNzUgMC0xMC4xNTIgMi40NDEtMTgu NDE2IDcuMzM5LTI0Ljc4MyA0Ljg5LTYuMzczIDExLjAzMi0xMS4zOTggMTgu NDIyLTE1LjA4MiA3LjM4NS0zLjY4IDE1LjM3My02LjIxMyAyMy45NjQtNy42 MSA4LjU4Mi0xLjM5NSAxNi40NzQtMi4yODggMjMuNjYzLTIuNjkxIDIuMzk3 LS4xOTcgNC43NDEtLjMgNy4wNDEtLjNoNi40Mzl2LTUuNDUyYzAtNy42NzYt Mi4wNTEtMTMuMTI5LTYuMTQyLTE2LjM1OC00LjA5Ny0zLjIzLTEwLjczNi00 Ljg0OS0xOS45Mi00Ljg0OS04LjU4NyAwLTE2LjIyNSAxLjM5OS0yMi45MTQg NC4xOTMtNi42OTMgMi43OTktMTMuMjMxIDUuOTkxLTE5LjYyMSA5LjU4Ni0y Ljc5Ny0zLjM5NC01LjA0Ny03LjEzNy02Ljc0LTExLjIzMy0xLjY5Ny00LjA5 LTIuNTQ1LTcuMTM3LTIuNTQ1LTkuMTM2IDAtMi43OTQgMS41NDQtNS40OSA0 LjY0My04LjA4OCAzLjA5NC0yLjU5MiA3LjMzOS00Ljk0MiAxMi43My03LjAz OSA1LjM5My0yLjA5NyAxMS41OC0zLjc5MSAxOC41NzEtNS4wOTIgNi45ODkt MS4yOTcgMTQuMzc5LTEuOTQ3IDIyLjE2Ny0xLjk0NyAxMC43ODMgMCAxOS45 MiAxLjEgMjcuNDA5IDMuMjk1IDcuNDg3IDIuMiAxMy41NzcgNS41OTMgMTgu MjcxIDEwLjE4NCA0LjY5IDQuNTk3IDguMDM1IDEwLjMzNSAxMC4wMzYgMTcu MjI0IDEuOTkyIDYuODkgMi45OTQgMTQuOTMxIDIuOTk0IDI0LjExM3Y1Ni4z MTJ6bS0zOC4zNDItMzQuNzQ2aC00LjE5M2MtMS40IDAtMi43OTkuMTA0LTQu MTkzLjMwMS00Ljk5My40MDItOS45MzggMS0xNC44MjggMS43OTUtNC44OTYu ODAxLTkuMjM4IDIuMTk5LTEzLjAzIDQuMTk1LTMuNzk1IDEuOTk4LTYuODkg NC41OTYtOS4yODYgNy43ODctMi4zOTYgMy4xOTctMy41OTUgNy4yOTMtMy41 OTUgMTIuMjgzIDAgNS41OTIgMS41OTcgMTAuMzMyIDQuNzkzIDE0LjIyNyAz LjE5MiAzLjg5NSA4LjU4NiA1Ljg0MiAxNi4xNzYgNS44NDIgMy43OTIgMCA3 LjM4Ny0uNDk2IDEwLjc4NC0xLjUgMy4zOTQtLjk5NCA2LjM4OC0yLjI5MyA4 Ljk4Ni0zLjg5MSAyLjU5MS0xLjU5OCA0LjY0NC0zLjM0NCA2LjE0LTUuMjQ0 IDEuNDk4LTEuODk1IDIuMjQ3LTMuNjQxIDIuMjQ3LTUuMjR2LTMwLjU1NXoi Lz48L2c+PC9zdmc+ " style="
    vertical-align: middle;
    margin-bottom: 10px;
    margin-left: 10px;
">
</div>
    </div>

</div>

</body>
