<DOCTYPE! html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

  <title>Select the plan you like to continue with - Academy of Mine</title>
  <meta name="description" content="Choose which plan fits your business requirements the best.">

  <link href="/css/styleConvert.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

  <!-- Provide jQuery framework -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

<div class="container">
  <div class="heading">
    <h3 style="
    font-weight: 400;
    font-size: 1rem;
    background-color: #db7b8c;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 5px;
    display: none;
"><i class="fas fa-info-circle" style="
    margin-right: 10px;
    font-size: 0.9rem;
"></i>Your trial has expired... but we saved all the work you have done!</h3>
    <h1>Oops. Your 30-day trial has expired.</h1>
    <p>Pick up where you left off and choose which package fits best with the needs of your business.</p>
  </div>
  <div class="plans">
    <div class="monthlyAnnualToggle">
      <div id="monthly">
        Monthly
        </div>
<div id="annually">Annually</div>
      </div>
      <div class="plan">
        <div class="planType">
          Starter
          </div>
        <div class="price">
          $199<span>per month</span>
          </div>
        <div class="button">
          Continue
          </div>
        <hr>
        <ul>
          <li><i class="fas fa-check"></i>Unlimited number of users</li>
          <li><i class="fas fa-check"></i>Unlimited number of courses</li>
          <li><i class="fas fa-check"></i>All module types*</li>
          <li><i class="fas fa-check"></i>Basic eCommerce</li>
          <li><i class="fas fa-check"></i>3 Webpages</li>
        </ul>
      </div>
      <div class="plan" style="margin-top: -25px; width: 33%; border-top: 5px solid #6b15b6;">
        <div class="planType">
          Essentials
          </div>
        <div class="price">
          $399<span>per month</span>
          </div>
        <div class="button">
          Continue
          </div>
        <hr>
        <ul>
          <li><i class="fas fa-plus"></i>Everything in Starter Plan</li>
          <li><i class="fas fa-check"></i>Live Webinars</li>
          <li><i class="fas fa-check"></i>Advanced eCommerce</li>
          <li><i class="fas fa-check"></i>Basic Reports</li>
          <li><i class="fas fa-check"></i>Unlimited Webpages</li>
          <li><i class="fas fa-check"></i>24/7 Support</li>
        </ul>
      </div>
      <div class="plan">
        <div class="planType">
          Professional
          </div>
        <div class="price">
          $899<span>per month</span>
          </div>
        <div class="button">
          Continue
          </div>
        <hr>
        <ul>
          <li><i class="fas fa-plus"></i>Everything in Essentials Plan</li>
          <li><i class="fas fa-check"></i>Group Onboarding</li>
          <li><i class="fas fa-check"></i>Advanced Reports</li>
          <li><i class="fas fa-check"></i>Priority 24/7 Support</li>
        </ul>
      </div>
      <div class="customBanner" style="
    background-color: #d5d1dd;
    border: 1px solid #bebcbc;
    padding: 10px 80px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 3px;
    color: #444;
    font-size: 0.9rem;
">
        Looking for a fully custom LMS solution or custom features? Let's chat.
    </div>
  </div>

  <div class="clients">
    <h2 style="
    color: #555;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 70px;
">Join many happy clients</h2><p>Use an LMS system trusted by businesses across the world</p>
<div class="et_pb_row et_pb_row_6" style="
    filter: grayscale(100%);
    margin-top: 30px;
">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough" style="
    width: 49%;
    display: inline-block;
">


				<div class="et_pb_module et_pb_image et_pb_image_0">


				<span class="et_pb_image_wrap "><img src="https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-1.png" alt="" title="" srcset="https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-1.png 563w, https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-1-480x163.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 563px, 100vw"></span>
			</div>
			</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough et-last-child" style="
    width: 49%;
    display: inline-block;
">


				<div class="et_pb_module et_pb_image et_pb_image_1">


				<span class="et_pb_image_wrap "><img src="https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-2.png" alt="" title="" srcset="https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-2.png 530w, https://www.academyofmine.com/wp-content/uploads/2020/04/client-logo-2-480x162.png 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 530px, 100vw"></span>
			</div>
			</div> <!-- .et_pb_column -->


			</div>
    </div>

</div>

</body>
