<div class="" style="
    display: inline-block;
"><div class="customDomainButton btn btn-primary" style="vertical-align: top; margin-top: 20px;" onclick="alert('It does work.');Beacon('prefill', {subject: 'Setting Up a Custom Domainname', text: 'Hi there! We'd like to set up a custom domainname for our platform. More specifically, we would like to change or domain name to [exampledomain.xyz]. Would you be able to help us out? Thank you!'});">Request custom domainname</div>
<span style="
    display: block;
    font-size: 0.7rem;
    color: #888;
    margin-top: 7px;
">e.g. https://xyzcompany.com</span>
</div>
