<div class="u-content"><div class="u-body"><div class="admin-general-settings"><div class="mb-4 d-md-flex align-items-md-center text-md-left"><nav aria-label="breadcrumb"><h1 class="h3">Notifications</h1> <ol class="breadcrumb bg-transparent small p-0"><li class="breadcrumb-item"><a href="/dashboard">Home</a></li> <li aria-current="page" class="breadcrumb-item active">Notifications</li></ol></nav> <button type="button" class="el-button el-button--primary ml-auto"><!----><!----><span>Save Settings</span></button></div> <div class="general-settings-wrapper"><div class="card mb-4"><div class="card-body"><form method="post">
        <fieldset id="user-notifications">
            <div id="container">
                        <table class="table">
                            <tbody><tr class="header" style="">
                                <th style="
    font-weight: 600;
    border-top: none !important;
">Notify me when a student…</th>
                                <th class="notifications-email" style="
    border-top: none !important;
">
                                    Email<br><input type="checkbox" id="selectEmails0" name="selectAll0" value="0" class="selectEmails">
                                </th>
                                <th class="notifications-activity" style="
    border-top: none !important;
">Activity Feed<br><input type="checkbox" id="selectBrowsers0" name="selectAllBrowser0" value="0" class="selectBrowsers">
                                </th>
                                <th class="notifications-mobile" style="
    border-top: none !important;
">Platform<br><input type="checkbox" id="selectBrowsers0" name="selectAllBrowser0" value="0" class="selectBrowsers">
                                </th>
                            </tr>
                                <tr>
                                    <th>Enrolls in a Course</th>
                                    <td class="notifications-email">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note0Email0" class="email e0" data-mbx="0" name="notifications" value="1" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-mobile">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note0Mobile0" class="mobile m0" data-mbx="0" name="notifications" value="1" disabled="disabled">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-browser">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note0Browser0" class="browser b0" data-mbx="0" name="notifications" value="1" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Enters a Course</th>
                                    <td class="notifications-email">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note1Email0" class="email e0" data-mbx="0" name="notifications" value="2" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-mobile">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note1Mobile0" class="mobile m0" data-mbx="0" name="notifications" value="2" checked="checked" disabled="disabled">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-browser">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note1Browser0" class="browser b0" data-mbx="0" name="notifications" value="2">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Completes a Course</th>
                                    <td class="notifications-email">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note2Email0" class="email e0" data-mbx="0" name="notifications" value="6">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-mobile">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note2Mobile0" class="mobile m0" data-mbx="0" name="notifications" value="6" disabled="disabled">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-browser">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note2Browser0" class="browser b0" data-mbx="0" name="notifications" value="6">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Completes a Quiz</th>
                                    <td class="notifications-email">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note3Email0" class="email e0" data-mbx="0" name="notifications" value="10" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-mobile">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note3Mobile0" class="mobile m0" data-mbx="0" name="notifications" value="10" disabled="disabled">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-browser">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note3Browser0" class="browser b0" data-mbx="0" name="notifications" value="10" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Submits an Assignment</th>
                                    <td class="notifications-email">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note4Email0" class="email e0" data-mbx="0" name="notifications" value="13" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-mobile">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note4Mobile0" class="mobile m0" data-mbx="0" name="notifications" value="13" checked="checked" disabled="disabled">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-browser">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note4Browser0" class="browser b0" data-mbx="0" name="notifications" value="13" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Posts a Discussion comment</th>
                                    <td class="notifications-email">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note5Email0" class="email e0" data-mbx="0" name="notifications" value="14" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-mobile">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note5Mobile0" class="mobile m0" data-mbx="0" name="notifications" value="14" checked="checked" disabled="disabled">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-browser">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note5Browser0" class="browser b0" data-mbx="0" name="notifications" value="14" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Completes an Evaluation</th>
                                    <td class="notifications-email">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note6Email0" class="email e0" data-mbx="0" name="notifications" value="15" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-mobile">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note6Mobile0" class="mobile m0" data-mbx="0" name="notifications" value="15" checked="checked" disabled="disabled">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-browser">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note6Browser0" class="browser b0" data-mbx="0" name="notifications" value="15" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                </tr>




                            <tr class="header">
                                <th class="subSettings" style="
    padding-top: 40px;
"><strong>Notify me when a Group</strong></th>
                                <th class="notifications-email"></th>
                                <th class="notifications-mobile"></th>
                            </tr>
                                <tr>
                                    <th class="subSettings">To an unassigned conversation</th>
                                    <td class="notifications-email">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note0Email0" class="email e0" data-mbx="0" name="notifications" value="4" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-mobile">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note0Mobile0" class="mobile m0" data-mbx="0" name="notifications" value="4" disabled="disabled">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-browser">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note0Browser0" class="browser b0" data-mbx="0" name="notifications" value="4" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="subSettings">To one of my conversations</th>
                                    <td class="notifications-email">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note1Email0" class="email e0" data-mbx="0" name="notifications" value="3" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-mobile">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note1Mobile0" class="mobile m0" data-mbx="0" name="notifications" value="3" checked="checked" disabled="disabled">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-browser">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note1Browser0" class="browser b0" data-mbx="0" name="notifications" value="3">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="subSettings">To a conversation owned by someone else</th>
                                    <td class="notifications-email">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note2Email0" class="email e0" data-mbx="0" name="notifications" value="7">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-mobile">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note2Mobile0" class="mobile m0" data-mbx="0" name="notifications" value="7" disabled="disabled">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-browser">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note2Browser0" class="browser b0" data-mbx="0" name="notifications" value="7">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="subSettings">To a conversation assigned to a team that I'm on</th>
                                    <td class="notifications-email">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note3Email0" class="email e0" data-mbx="0" name="notifications" value="11" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-mobile">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note3Mobile0" class="mobile m0" data-mbx="0" name="notifications" value="11" disabled="disabled">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="notifications-browser">
                                        <div class="control-group">
                                            <div class="controls">
                                                <input type="checkbox" id="note3Browser0" class="browser b0" data-mbx="0" name="notifications" value="11" checked="checked">
                                            </div>
                                        </div>
                                    </td>
                                </tr>






                        </tbody></table>
            </div>
            <div class="el-form-item el-form-item--small" style="
    margin-top: 30px;
"><!----><div class="el-form-item__content"><button type="button" class="el-button el-button--primary el-button--small"><!----><!----><span>Save Settings</span></button><!----></div></div>
        </fieldset>
    </form></div></div></div><div class="el-loading-mask" style="display: none;"><div class="el-loading-spinner"><svg viewBox="25 25 50 50" class="circular"><circle cx="50" cy="50" r="20" fill="none" class="path"></circle></svg><!----></div></div></div></div> <footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted"><ul class="list-inline small mb-3 mb-md-0"></ul> <small class="text-muted ml-auto">Copyright © Your Company Name - All rights reserved.</small></footer></div>
